$container-class: '.container' !default;

// //== Typography

// $text-color: #333 !default;

// $font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
//                           "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
// $font-family-monospace:   Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
// $font-family-base:        $font-family-sans-serif !default;

// $font-size-base:          16px !default;

// $line-height-base:        1.6 !default;

// $link-color:              #4078c0 !default;
// $link-background-color:   transparent !default;
// $link-decoration:         none !default;
// $link-hover-color:        $link-color !default;
// $link-hover-decoration:   underline !default;

// $headings-font-family:    inherit !default;
// $headings-font-weight:    600 !default;
// $headings-line-height:    1.25 !default;
// $headings-text-color:     inherit !default;

// $h1-font-size:            2em !default;
// $h1-border-width:         1px !default;
// $h1-border-style:         solid !default;
// $h1-border-color:         #eee !default;
// $h1-padding-vertical:     0.3em !default;

// $h2-font-size:            1.5em !default;
// $h2-border-width:         1px !default;
// $h2-border-style:         solid !default;
// $h2-border-color:         #eee !default;
// $h2-padding-vertical:     0.3em !default;

// $h3-font-size:            1.25em !default;

// $h4-font-size:            1em !default;

// $h5-font-size:            0.875em !default;

// $h6-font-size:            0.875em !default;
// $h6-text-color:           #777 !default;

// $blockquote-border-color: #ddd !default;
// $blockquote-border-style: solid !default;
// $blockquote-border-width: 0.25em !default;
// $blockquote-text-color:   #777 !default;


// //== Code

// $code-background-color: rgba(0, 0, 0, 0.04) !default;
// $code-text-color:       inherit !default;
// $code-font-size:        85% !default;
// $code-line-height:      1.45 !default;
// $code-padding:          0.2em 0 !default;

// $kbd-background-color:  #fcfcfc !default;
// $kbd-text-color:        #555 !default;
// $kbd-font-size:         11px !default;
// $kbd-line-height:       10px !default;
// $kbd-padding:           3px 5px !default;

// $pre-background-color:  #f7f7f7 !default;
// $pre-text-color:        inherit !default;
// $pre-font-size:         85% !default;
// $pre-line-height:       1.45 !default;
// $pre-padding:           $font-size-base !default;


// //== Components

// $margin-base-vertical:    $font-size-base !default;
// $margin-large-vertical:   $font-size-base * 1.5 !default;

// $padding-base-vertical:   $font-size-base !default;
// $padding-base-horizontal: $font-size-base !default;
// $padding-large-vertical:  $font-size-base * 1.5 !default;

// $border-radius-base:      3px !default;

// $hr-color:                #e7e7e7 !default;
// $hr-width:                0.25em !default;


// //== Tables

// $table-background-color:        #fff !default;
// $table-background-color-accent: #f8f8f8 !default;

// $table-border-width:            1px !default;
// $table-border-style:            solid !default;
// $table-border-color:            #ddd !default;

// $table-cell-padding:            6px 13px !default;

// $tr-border-width:               1px !default;
// $tr-border-style:               solid !default;
// $tr-border-color:               #ccc !default;


// //== Forms

// $input-font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif,
//                     "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// $input-font-size:   13px !default;
// $input-line-height: 1.4 !default;
