@charset "UTF-8";
@import "variables";
@import "bourbon/bourbon";
@import "neat/neat";
@import "mixins";
// @import "base/base";
@import "github";

.file {
	@include outer-container;
	border: 1px solid #d8d8d8;
	border-radius: 3px;
	max-width: 960px;

	blockquote {
		padding-right: 0;
	}

	.file-name {
		background: #f5f5f5;
		border-bottom: 1px solid #d8d8d8;
		padding: 9px 10px 10px;

		h1 {
			border-bottom: 0;
			font-size: 14px;
			line-height: 17px;
			margin: 0;
			padding: 0;
		}
	}

	.entry-content {
		padding: 45px;
	}

	.file-content {

		strong {
			@include fontawesome;

			font-size: 14px;
			font-weight: bolder;

			&:before {
				content: "\f0f6\20";
				font-weight: normal;
			}
		}

		.toggler {
			cursor: pointer;
			padding: 0.2em .5em;

			&:hover {
				color: #4078c0;
			}
		}
	}
}